* {
  margin: 0px;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  text-align: right;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #90a1bf;
}

nav a:hover {
  color: #5f748c;
}

#section1,
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#img1 {
  height: 400px;
  width: 280px;
  object-fit: cover;
  border-radius: 50%;
}

#img2 {
  height: 350px;
  width: 230px;
  border-radius: 50px;
}

#section2,
#section1,
#section3,
#section4 {
  background-color: #d8d9fe;
  border-radius: 50px;
  height: 480px;
  width: 950px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

#section1,
#section4 {
  margin-left: 235px;
}

#section4 p {
    margin-left: 15px;
}

footer {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  color: #90a1bf;
  border-radius: 40px;
  margin-bottom: 20px;
  font-size: larger;
}

button {
  border: none;
  border-radius: 50px;
  background-color: #90a1bf;
  color: white;
  margin-left: 15px;
}

button:hover {
  background-color: #5f748c;
}

input,
textarea {
  border-radius: 30px;
  border: none;
}

h2 {
  padding-left: 40px;
}

main h1 {
  color: #90a1bf;
}

h2,
h3 {
  color: #90a1bf;
}
